.about-sabithaandco{
    display: flex;
    justify-content: center;
}
.description-about-sabithandco{
   
    text-align: justify;
    width: 85vw;
}

.description-about-sabithandco h3{

    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* down css code is for the boxxes insides the aboutme section*/
.image-and-h1-container-about{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width:100%;
    align-items: center;
    justify-content: center;
    
}
.inside-image-and-h1-container-about{
    width: 150px;
    padding: 0px 5px 5px 5px;
}
.inside-image-and-h1-container-about .product-h1{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
   
    background-color: transparent ;
    text-align: center;
    font-family: 'Rampart One', cursive;
}
/* this a tag is to change the color of the link tag in react router*/
a{
    color: #000;
}
.inside-image-and-h1-container-about .product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
}


@media(max-width:890px){
    .inside-image-and-h1-container-about{
        width: 100px;
        font-size: 70%;
    }
}
@media(max-width:390px){
    .inside-image-and-h1-container-about{
        width: 80px;
        font-size: 60%;
    }
}
@media(max-width:321px){
    .inside-image-and-h1-container-about{
        width: 60px;
        font-size: 45%;
    }
}


