
.padeend-main-second-div{
    margin-top: 50px;
    width: 100%;
    height: 60px;
    background-color: #1A2238;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.padeend-main-second-div a{
   
    padding: 15px 10px 0 10px;
}
.padeend-main-second-div .facebook{
    color: grey;
}
.padeend-main-second-div .instagram{
    color: grey;
}
