#first-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
}
svg #text-div-1{

    stroke: black;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 2.5s ;
}
svg #text-div-2{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: 400;
}


@keyframes textAnimate{
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}

@media(max-width:700px){
    svg #text-div-1{
        stroke: black;
        font-size: 200px;
        font-weight: 700;
        stroke-width: 3;
        animation: textAnimate 2.5s ;
    }
    svg #text-div-2{
        font-size: 30px;
        font-weight: 400;
    }
}